@charset "UTF-8";
/* light.css */

:root {
    --primary-color-1: #ddd;
    --primary-color-2: #16A085;
    --primary-color-3: #555;
    --primary-color-4: #aaa;
    --primary-color-5: #ccc;
    --primary-color-6: #fff;
    --primary-color-7: #777;
  }

/* ------------------------------------------
  GENERAL BASIC SETTINGS  
    (smartphone > 640px)
-------------------------------------------*/
html {
    box-sizing: border-box;
}
  *, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
  
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--primary-color-1);
    margin: 1em 3rem;
}
/* ------------------------------------------
  HEADER
-------------------------------------------*/
header {
    border-bottom: 2px solid var(--primary-color-2);
    text-align: center;
}
header h1 {
    text-align: center;
    font-size: 30px;
    color: var(--primary-color-2);
    text-shadow: 2px 2px 4px var(--primary-color-4);
}
.header-contact {
    text-decoration: none;
    font-size: 18px;
    color: var(--primary-color-3);
    padding-bottom: 5px;
}
.header-contact:hover {
    color: var(--primary-color-2);     
}
.header-span {
    margin-right: 10px;
    padding-left: 5px;
    font-size: 18px;
    color: var(--primary-color-3);
    text-shadow: 0.1em 0.1em var(--primary-color-4);
}
/* ------------------------------------------
  MAIN - password generator
-------------------------------------------*/
.passwordGenerator {
    padding-top: 20px;
    font-size: 1.2em;
    font-family: sans-serif;
}
.passwordGenerator div {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}
.passwordGenerator label {
    color: var(--primary-color-3);
    padding-bottom: 10px;
}

.password {
    background-color: var(--primary-color-6);
    border: 3px solid var(--primary-color-2);
    color: var(--primary-color-4);              /* fa-copy */
}
 /* fa-copy */
.password i {
    font-size: 1em;
    padding: 6px 5px;
}
 /* generated password */
.password p {
    width: 85%;
    height: 18vh;
    color: var(--primary-color-7);
    outline: none;
    background: transparent;
    padding: 6px 5px;
    overflow-wrap: break-word;
}
/* width "Length (4 - 64)" */
.number {
    max-width: 12vw;
    font-size: 1rem;
}
.checkbox {
    /* change color of checkbox */
    accent-color: var(--primary-color-2);
} 
.passwordGenerator button {
    width: 100%;
    border: none;
    color: var(--primary-color-6);
    font-size: 0.8em;
    font-weight: 600;
    background-color: var(--primary-color-2);
    padding: 10px;
}


/*-----------------------------------------------------   
    Tablet version from 640 pixel                          
    640px / 16px/em = 40em  
------------------------------------------------------*/
@media screen and (min-width: 40em) {
    /* ------------------------------------------
     CARD - Design
    -------------------------------------------*/
    body {
      background-image: linear-gradient(to bottom left, #5b338c, #be4fdc);
      height: 100vh;
    }
    .card {
      background-color: var(--primary-color-1);
      box-shadow: 0 4px 8px 0 #00000033;
      transition: 0.3s;
      width: 70%;
      margin: auto;
      padding: 1em 1rem;
      border-radius: 4px;
    } 
    .card:hover {
      box-shadow: 0 8px 16px 0 #00000033;
    }
    .container {
      padding: 2px 16px;
    }
    .header {
      padding-bottom: 60px;
    }
    .number {
      max-width: 8vw;
    }
  }

/*------------------------------------------------------------------
    Screens from 1024 pixels                         
    1024px / 16px/em = 64em	
------------------------------------------------------------------- */
@media screen and (min-width: 64em) {
    /* ------------------------------------------
     CARD - Design
    -------------------------------------------*/
    body {
      background-image: linear-gradient(to bottom left, #5b338c, #be4fdc);
      height: 100vh;
    }
    .card {
      background-color: var(--primary-color-1);
      box-shadow: 0 4px 8px 0 #00000033;
      transition: 0.3s;
      width: 60%;
      margin: auto;
      padding: 1em 1rem;
    } 
    .card:hover {
      box-shadow: 0 8px 16px 0 #00000033;
    }
    .container {
      padding: 2px 16px;
    }
    .header {
      padding-bottom: 70px;
    }
    .number {
      max-width: 6vw;
    }
  }

/*------------------------------------------------------------------- 
    Large screens (>1600 pixels) 
    1600px / 16px/em = 100em
-------------------------------------------------------------------- */
@media screen and (min-width: 100em) {
    /* ------------------------------------------
     CARD - Design
    -------------------------------------------*/
    body {
      background-image: linear-gradient(to bottom left, #5b338c, #be4fdc);
      height: 100vh;
    }
    .card {
      background-color: var(--primary-color-1);
      box-shadow: 0 4px 8px 0 #00000033;
      transition: 0.3s;
      width: 50%;
      margin: auto;
      padding: 1em 1rem;
    } 
    .card:hover {
      box-shadow: 0 8px 16px 0 #00000033;
    }
    .container {
      padding: 2px 16px;
    }
    .header {
      padding-bottom: 70px;
    }
    .number {
      max-width: 4vw;
    }
  }